THRON_CLIENT_ID=<the client id subscribed to Thron APIs>
VERBOSE=<a boolean indicating if the remote calls has to be printed on screen, useful when dealing with REPL>
LOGGER_LEVEL=<the logger level you want, default to WARN>
